# Start with ignoring everything
*
!*/

# Then specifically allow what we need
!Dockerfile
!.dockerignore
!build/
!build/prod/
!build/prod/**
!go.mod
!go.sum
!src/
!src/**

# But exclude some things within src/
src/ui/node_modules/
src/ui/dist/
src/cmd/*/
src/internal/*/

# Exclude everything else in build/ except prod/
build/*
!build/prod/
