name: Publish Docker Image to Docker Hub (ARM64v8)

on:
  workflow_dispatch:  # Triggered manually

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: akhilrana
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push ARM64v8 Docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          platforms: linux/arm64/v8
          push: true
          tags: akhilrana/telegramarr:latest-arm64
