name: (ARM64) Publish Docker Image to Docker Hub

on:
  workflow_dispatch:  # Triggered manually

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          platforms: linux/arm64
          
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: akhilrana
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push ARM64 Docker image
        run: |
          docker buildx build --platform linux/arm64 --push -t akhilrana/telegramarr:latest-arm64 .
        env:
          DOCKER_CLI_EXPERIMENTAL: enabled
