name: (ARM64) Publish Docker Image to Docker Hub

on:
  workflow_dispatch:  # Triggered manually

jobs:
  build-and-publish:
    runs-on: macos-14

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        
      - name: Build and push ARM64 Docker image
        run: |
          wget https://desktop.docker.com/mac/main/arm64/137060/Docker.dmg
          sudo hdiutil attach Docker.dmg
          sudo /Volumes/Docker/Docker.app/Contents/MacOS/install  --accept-license
          sudo hdiutil detach /Volumes/Docker
          open -a Docker
          until sudo docker login -u akhilrana -p ${{ secrets.DOCKER_PASSWORD }}; do; sleep 1; done
          sudo docker build -t akhilrana/telegramarr:latest-arm64 .
          sudo docker push akhilrana/telegramarr:latest-arm-64
