name: (ARM64) Publish Docker Image to Docker Hub

on:
  workflow_dispatch:  # Triggered manually

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          platform: linux/arm64/v8

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: akhilrana
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/aarch64
          push: true
          tags: akhilrana/telegramarr:latest-arm64
